In [1]:
import pandas as pd
import numpy as np

In [2]:
income_table = pd.read_csv('productDownload_2022-01-24T145502/State_by_State_Income_Info.csv')

In [3]:
# Functions box

# create function to delete columns based on name
def deleteColumnNames(table, str):
    index = []
    for name in table.columns:
        if str in name:
            index.append(name)
    table = table.drop(columns = index, axis = 0)
    return table;
# created a function to create a table using specific columns from meta table
def grabSpecificColumns(table, str):
    index = ['Geographic Area Name']
    for name in table.columns:
        if str in name:
            index.append(name)
    table = table[index]
    return table

# convert dtype of columns to a specfic one other thatn Geographic Area name
def convertDtypes(table, str):
    #creating a list of columns to iterate through so I can turn strings into ints
    listOfColumns = table.columns.to_list()
    listOfColumns.remove('Geographic Area Name')
    table[listOfColumns] = table[listOfColumns].astype(str)
    return table

In [4]:
income_table.head()

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C01_002E,S1901_C01_002M,S1901_C01_003E,S1901_C01_003M,S1901_C01_004E,S1901_C01_004M,...,S1901_C04_012E,S1901_C04_012M,S1901_C04_013E,S1901_C04_013M,S1901_C04_014E,S1901_C04_014M,S1901_C04_015E,S1901_C04_015M,S1901_C04_016E,S1901_C04_016M
0,id,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000",Margin of Error!!Households!!Total!!Less than ...,"Estimate!!Households!!Total!!$10,000 to $14,999","Margin of Error!!Households!!Total!!$10,000 to...","Estimate!!Households!!Total!!$15,000 to $24,999","Margin of Error!!Households!!Total!!$15,000 to...",...,Estimate!!Nonfamily households!!Median income ...,Margin of Error!!Nonfamily households!!Median ...,Estimate!!Nonfamily households!!Mean income (d...,Margin of Error!!Nonfamily households!!Mean in...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...
1,0400000US01,Alabama,1897576,10370,8.1,0.3,5.5,0.3,10.9,0.4,...,29458,1226,42510,1268,(X),(X),(X),(X),35.6,(X)
2,0400000US02,Alaska,252199,3658,4.1,0.6,3.2,0.5,6.6,0.8,...,47508,2524,61602,3112,(X),(X),(X),(X),29.3,(X)
3,0400000US04,Arizona,2670441,12014,5.9,0.3,3.5,0.2,8.2,0.3,...,40198,617,55773,1079,(X),(X),(X),(X),32.0,(X)
4,0400000US05,Arkansas,1163647,8530,7.1,0.4,6.0,0.4,12.1,0.5,...,27607,862,40235,1392,(X),(X),(X),(X),36.1,(X)

In [5]:
# remove id column
income_table = deleteColumnNames(income_table, 'GEO_ID')

income_table.head()

,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C01_002E,S1901_C01_002M,S1901_C01_003E,S1901_C01_003M,S1901_C01_004E,S1901_C01_004M,S1901_C01_005E,...,S1901_C04_012E,S1901_C04_012M,S1901_C04_013E,S1901_C04_013M,S1901_C04_014E,S1901_C04_014M,S1901_C04_015E,S1901_C04_015M,S1901_C04_016E,S1901_C04_016M
0,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000",Margin of Error!!Households!!Total!!Less than ...,"Estimate!!Households!!Total!!$10,000 to $14,999","Margin of Error!!Households!!Total!!$10,000 to...","Estimate!!Households!!Total!!$15,000 to $24,999","Margin of Error!!Households!!Total!!$15,000 to...","Estimate!!Households!!Total!!$25,000 to $34,999",...,Estimate!!Nonfamily households!!Median income ...,Margin of Error!!Nonfamily households!!Median ...,Estimate!!Nonfamily households!!Mean income (d...,Margin of Error!!Nonfamily households!!Mean in...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...
1,Alabama,1897576,10370,8.1,0.3,5.5,0.3,10.9,0.4,10.3,...,29458,1226,42510,1268,(X),(X),(X),(X),35.6,(X)
2,Alaska,252199,3658,4.1,0.6,3.2,0.5,6.6,0.8,6.9,...,47508,2524,61602,3112,(X),(X),(X),(X),29.3,(X)
3,Arizona,2670441,12014,5.9,0.3,3.5,0.2,8.2,0.3,8.6,...,40198,617,55773,1079,(X),(X),(X),(X),32.0,(X)
4,Arkansas,1163647,8530,7.1,0.4,6.0,0.4,12.1,0.5,11.5,...,27607,862,40235,1392,(X),(X),(X),(X),36.1,(X)

In [6]:
# replace !! with a space in the column names
rowOne =income_table.loc[0]
titleArray = []
for title in rowOne:
    title = title.replace('!!', ' ')
    titleArray.append(title)
income_table.loc[0] = titleArray
income_table.head()

,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C01_002E,S1901_C01_002M,S1901_C01_003E,S1901_C01_003M,S1901_C01_004E,S1901_C01_004M,S1901_C01_005E,...,S1901_C04_012E,S1901_C04_012M,S1901_C04_013E,S1901_C04_013M,S1901_C04_014E,S1901_C04_014M,S1901_C04_015E,S1901_C04_015M,S1901_C04_016E,S1901_C04_016M
0,Geographic Area Name,Estimate Households Total,Margin of Error Households Total,"Estimate Households Total Less than $10,000",Margin of Error Households Total Less than $10...,"Estimate Households Total $10,000 to $14,999","Margin of Error Households Total $10,000 to $1...","Estimate Households Total $15,000 to $24,999","Margin of Error Households Total $15,000 to $2...","Estimate Households Total $25,000 to $34,999",...,Estimate Nonfamily households Median income (d...,Margin of Error Nonfamily households Median in...,Estimate Nonfamily households Mean income (dol...,Margin of Error Nonfamily households Mean inco...,Estimate Nonfamily households PERCENT ALLOCATE...,Margin of Error Nonfamily households PERCENT A...,Estimate Nonfamily households PERCENT ALLOCATE...,Margin of Error Nonfamily households PERCENT A...,Estimate Nonfamily households PERCENT ALLOCATE...,Margin of Error Nonfamily households PERCENT A...
1,Alabama,1897576,10370,8.1,0.3,5.5,0.3,10.9,0.4,10.3,...,29458,1226,42510,1268,(X),(X),(X),(X),35.6,(X)
2,Alaska,252199,3658,4.1,0.6,3.2,0.5,6.6,0.8,6.9,...,47508,2524,61602,3112,(X),(X),(X),(X),29.3,(X)
3,Arizona,2670441,12014,5.9,0.3,3.5,0.2,8.2,0.3,8.6,...,40198,617,55773,1079,(X),(X),(X),(X),32.0,(X)
4,Arkansas,1163647,8530,7.1,0.4,6.0,0.4,12.1,0.5,11.5,...,27607,862,40235,1392,(X),(X),(X),(X),36.1,(X)

In [7]:
# replace column names with first row names
income_table.columns = income_table.loc[0]

In [8]:
# drop duplicate column names
income_table = income_table.drop(labels=0, axis=0)

In [9]:
income_table.head()

,Geographic Area Name,Estimate Households Total,Margin of Error Households Total,"Estimate Households Total Less than $10,000","Margin of Error Households Total Less than $10,000","Estimate Households Total $10,000 to $14,999","Margin of Error Households Total $10,000 to $14,999","Estimate Households Total $15,000 to $24,999","Margin of Error Households Total $15,000 to $24,999","Estimate Households Total $25,000 to $34,999",...,Estimate Nonfamily households Median income (dollars),Margin of Error Nonfamily households Median income (dollars),Estimate Nonfamily households Mean income (dollars),Margin of Error Nonfamily households Mean income (dollars),Estimate Nonfamily households PERCENT ALLOCATED Household income in the past 12 months,Margin of Error Nonfamily households PERCENT ALLOCATED Household income in the past 12 months,Estimate Nonfamily households PERCENT ALLOCATED Family income in the past 12 months,Margin of Error Nonfamily households PERCENT ALLOCATED Family income in the past 12 months,Estimate Nonfamily households PERCENT ALLOCATED Nonfamily income in the past 12 months,Margin of Error Nonfamily households PERCENT ALLOCATED Nonfamily income in the past 12 months
1,Alabama,1897576,10370,8.1,0.3,5.5,0.3,10.9,0.4,10.3,...,29458,1226,42510,1268,(X),(X),(X),(X),35.6,(X)
2,Alaska,252199,3658,4.1,0.6,3.2,0.5,6.6,0.8,6.9,...,47508,2524,61602,3112,(X),(X),(X),(X),29.3,(X)
3,Arizona,2670441,12014,5.9,0.3,3.5,0.2,8.2,0.3,8.6,...,40198,617,55773,1079,(X),(X),(X),(X),32.0,(X)
4,Arkansas,1163647,8530,7.1,0.4,6.0,0.4,12.1,0.5,11.5,...,27607,862,40235,1392,(X),(X),(X),(X),36.1,(X)
5,California,13157873,23844,4.6,0.1,3.7,0.1,6.6,0.1,6.8,...,51676,389,78815,718,(X),(X),(X),(X),32.9,(X)

In [10]:
# delete margin of error columns
noMarginofError = deleteColumnNames(income_table, 'Margin of Error')
noMarginofError.head()

,Geographic Area Name,Estimate Households Total,"Estimate Households Total Less than $10,000","Estimate Households Total $10,000 to $14,999","Estimate Households Total $15,000 to $24,999","Estimate Households Total $25,000 to $34,999","Estimate Households Total $35,000 to $49,999","Estimate Households Total $50,000 to $74,999","Estimate Households Total $75,000 to $99,999","Estimate Households Total $100,000 to $149,999",...,"Estimate Nonfamily households Total $50,000 to $74,999","Estimate Nonfamily households Total $75,000 to $99,999","Estimate Nonfamily households Total $100,000 to $149,999","Estimate Nonfamily households Total $150,000 to $199,999","Estimate Nonfamily households Total $200,000 or more",Estimate Nonfamily households Median income (dollars),Estimate Nonfamily households Mean income (dollars),Estimate Nonfamily households PERCENT ALLOCATED Household income in the past 12 months,Estimate Nonfamily households PERCENT ALLOCATED Family income in the past 12 months,Estimate Nonfamily households PERCENT ALLOCATED Nonfamily income in the past 12 months
1,Alabama,1897576,8.1,5.5,10.9,10.3,13.4,17.8,11.2,13.4,...,14.6,5.6,5.5,1.4,1.1,29458,42510,(X),(X),35.6
2,Alaska,252199,4.1,3.2,6.6,6.9,10.7,18.1,13.4,18.2,...,18.5,12.6,10.8,2.6,3.0,47508,61602,(X),(X),29.3
3,Arizona,2670441,5.9,3.5,8.2,8.6,13.7,18.8,13.3,15.3,...,17.6,8.8,8.3,2.5,2.7,40198,55773,(X),(X),32.0
4,Arkansas,1163647,7.1,6.0,12.1,11.5,14.1,18.3,11.5,11.6,...,12.9,5.8,3.8,0.9,1.2,27607,40235,(X),(X),36.1
5,California,13157873,4.6,3.7,6.6,6.8,9.9,15.3,12.5,17.4,...,15.8,10.8,12.6,5.4,7.1,51676,78815,(X),(X),32.9

In [11]:
cleanTable = deleteColumnNames(noMarginofError, 'PERCENT ALLOCATED')
cleanTable = convertDtypes(cleanTable, 'float')
cleanTable.head()

,Geographic Area Name,Estimate Households Total,"Estimate Households Total Less than $10,000","Estimate Households Total $10,000 to $14,999","Estimate Households Total $15,000 to $24,999","Estimate Households Total $25,000 to $34,999","Estimate Households Total $35,000 to $49,999","Estimate Households Total $50,000 to $74,999","Estimate Households Total $75,000 to $99,999","Estimate Households Total $100,000 to $149,999",...,"Estimate Nonfamily households Total $15,000 to $24,999","Estimate Nonfamily households Total $25,000 to $34,999","Estimate Nonfamily households Total $35,000 to $49,999","Estimate Nonfamily households Total $50,000 to $74,999","Estimate Nonfamily households Total $75,000 to $99,999","Estimate Nonfamily households Total $100,000 to $149,999","Estimate Nonfamily households Total $150,000 to $199,999","Estimate Nonfamily households Total $200,000 or more",Estimate Nonfamily households Median income (dollars),Estimate Nonfamily households Mean income (dollars)
1,Alabama,1897576.0,8.1,5.5,10.9,10.3,13.4,17.8,11.2,13.4,...,18.0,12.5,14.5,14.6,5.6,5.5,1.4,1.1,29458.0,42510.0
2,Alaska,252199.0,4.1,3.2,6.6,6.9,10.7,18.1,13.4,18.2,...,12.5,10.1,15.0,18.5,12.6,10.8,2.6,3.0,47508.0,61602.0
3,Arizona,2670441.0,5.9,3.5,8.2,8.6,13.7,18.8,13.3,15.3,...,14.0,12.3,16.0,17.6,8.8,8.3,2.5,2.7,40198.0,55773.0
4,Arkansas,1163647.0,7.1,6.0,12.1,11.5,14.1,18.3,11.5,11.6,...,19.7,14.8,14.9,12.9,5.8,3.8,0.9,1.2,27607.0,40235.0
5,California,13157873.0,4.6,3.7,6.6,6.8,9.9,15.3,12.5,17.4,...,10.5,8.8,11.4,15.8,10.8,12.6,5.4,7.1,51676.0,78815.0

In [12]:
# creating a table to see what columns I have not used
currentTable = cleanTable

In [13]:
medianTable = grabSpecificColumns(cleanTable, 'Median')
currentTable = deleteColumnNames(currentTable, 'Median')
medianTable.head()

,Geographic Area Name,Estimate Households Median income (dollars),Estimate Families Median income (dollars),Estimate Married-couple families Median income (dollars),Estimate Nonfamily households Median income (dollars)
1,Alabama,51734.0,66171.0,81393.0,29458.0
2,Alaska,75463.0,91971.0,106046.0,47508.0
3,Arizona,62055.0,74468.0,87708.0,40198.0
4,Arkansas,48952.0,62387.0,73796.0,27607.0
5,California,80440.0,91377.0,109161.0,51676.0

In [14]:
meanTable = grabSpecificColumns(cleanTable, 'Mean')
currentTable = deleteColumnNames(currentTable, 'Mean')
meanTable.head()

,Geographic Area Name,Estimate Households Mean income (dollars),Estimate Families Mean income (dollars),Estimate Married-couple families Mean income (dollars),Estimate Nonfamily households Mean income (dollars)
1,Alabama,71478.0,85630.0,101086.0,42510.0
2,Alaska,98504.0,115639.0,130245.0,61602.0
3,Arizona,84438.0,97314.0,112220.0,55773.0
4,Arkansas,68219.0,81640.0,94373.0,40235.0
5,California,113563.0,126354.0,146865.0,78815.0

In [15]:
householdsTable = grabSpecificColumns(cleanTable, 'Estimate Households Total')
currentTable = deleteColumnNames(currentTable, 'Estimate Households Total')
householdsTable.head()

,Geographic Area Name,Estimate Households Total,"Estimate Households Total Less than $10,000","Estimate Households Total $10,000 to $14,999","Estimate Households Total $15,000 to $24,999","Estimate Households Total $25,000 to $34,999","Estimate Households Total $35,000 to $49,999","Estimate Households Total $50,000 to $74,999","Estimate Households Total $75,000 to $99,999","Estimate Households Total $100,000 to $149,999","Estimate Households Total $150,000 to $199,999","Estimate Households Total $200,000 or more"
1,Alabama,1897576.0,8.1,5.5,10.9,10.3,13.4,17.8,11.2,13.4,5.0,4.3
2,Alaska,252199.0,4.1,3.2,6.6,6.9,10.7,18.1,13.4,18.2,9.4,9.3
3,Arizona,2670441.0,5.9,3.5,8.2,8.6,13.7,18.8,13.3,15.3,6.2,6.6
4,Arkansas,1163647.0,7.1,6.0,12.1,11.5,14.1,18.3,11.5,11.6,3.9,3.8
5,California,13157873.0,4.6,3.7,6.6,6.8,9.9,15.3,12.5,17.4,9.4,13.7

In [16]:
familiesTable = grabSpecificColumns(cleanTable, 'Estimate Families Total')
currentTable = deleteColumnNames(currentTable, 'Estimate Families Total')
familiesTable.head()

,Geographic Area Name,Estimate Families Total,"Estimate Families Total Less than $10,000","Estimate Families Total $10,000 to $14,999","Estimate Families Total $15,000 to $24,999","Estimate Families Total $25,000 to $34,999","Estimate Families Total $35,000 to $49,999","Estimate Families Total $50,000 to $74,999","Estimate Families Total $75,000 to $99,999","Estimate Families Total $100,000 to $149,999","Estimate Families Total $150,000 to $199,999","Estimate Families Total $200,000 or more"
1,Alabama,1237883.0,4.6,2.6,7.6,9.4,12.8,19.2,13.8,17.3,6.8,6.0
2,Alaska,163134.0,2.0,1.8,3.7,5.6,9.0,17.9,13.7,21.6,12.8,12.0
3,Arizona,1740704.0,3.9,1.9,5.7,7.1,12.6,19.1,15.1,18.3,7.9,8.4
4,Arkansas,755305.0,3.9,3.1,8.7,10.2,13.5,20.6,14.0,15.5,5.3,5.2
5,California,8972643.0,2.9,1.9,5.3,6.3,9.5,15.1,13.1,18.9,10.8,16.1

In [17]:
nonfamilyTable = grabSpecificColumns(cleanTable, 'Estimate Nonfamily households Total')
currentTable = deleteColumnNames(currentTable, 'Estimate Nonfamily households Total')
nonfamilyTable.head()

,Geographic Area Name,Estimate Nonfamily households Total,"Estimate Nonfamily households Total Less than $10,000","Estimate Nonfamily households Total $10,000 to $14,999","Estimate Nonfamily households Total $15,000 to $24,999","Estimate Nonfamily households Total $25,000 to $34,999","Estimate Nonfamily households Total $35,000 to $49,999","Estimate Nonfamily households Total $50,000 to $74,999","Estimate Nonfamily households Total $75,000 to $99,999","Estimate Nonfamily households Total $100,000 to $149,999","Estimate Nonfamily households Total $150,000 to $199,999","Estimate Nonfamily households Total $200,000 or more"
1,Alabama,659693.0,15.6,11.1,18.0,12.5,14.5,14.6,5.6,5.5,1.4,1.1
2,Alaska,89065.0,8.6,6.3,12.5,10.1,15.0,18.5,12.6,10.8,2.6,3.0
3,Arizona,929737.0,11.1,6.7,14.0,12.3,16.0,17.6,8.8,8.3,2.5,2.7
4,Arkansas,408342.0,14.3,11.7,19.7,14.8,14.9,12.9,5.8,3.8,0.9,1.2
5,California,4185230.0,9.4,8.2,10.5,8.8,11.4,15.8,10.8,12.6,5.4,7.1

In [18]:
marriedCoupleTable = grabSpecificColumns(cleanTable, 'Estimate Married-couple')
currentTable = deleteColumnNames(currentTable, 'Estimate Married-couple')
marriedCoupleTable.head()

,Geographic Area Name,Estimate Married-couple families Total,"Estimate Married-couple families Total Less than $10,000","Estimate Married-couple families Total $10,000 to $14,999","Estimate Married-couple families Total $15,000 to $24,999","Estimate Married-couple families Total $25,000 to $34,999","Estimate Married-couple families Total $35,000 to $49,999","Estimate Married-couple families Total $50,000 to $74,999","Estimate Married-couple families Total $75,000 to $99,999","Estimate Married-couple families Total $100,000 to $149,999","Estimate Married-couple families Total $150,000 to $199,999","Estimate Married-couple families Total $200,000 or more",Estimate Married-couple families Median income (dollars),Estimate Married-couple families Mean income (dollars)
1,Alabama,892050.0,1.5,1.4,4.6,6.7,11.4,19.9,16.2,21.6,8.8,7.9,81393.0,101086.0
2,Alaska,124608.0,0.5,1.3,1.8,3.6,7.7,15.9,14.6,24.2,15.7,14.8,106046.0,130245.0
3,Arizona,1272331.0,1.8,1.2,3.6,5.3,10.6,18.3,16.6,21.9,9.9,10.9,87708.0,112220.0
4,Arkansas,553179.0,1.4,1.6,6.1,8.1,12.0,21.6,16.5,19.1,6.8,6.8,73796.0,94373.0
5,California,6490186.0,1.3,1.1,3.6,4.6,7.7,13.7,13.2,21.1,13.0,20.8,109161.0,146865.0

In [19]:
#test table to see what other categories are left in the data
currentTable.head()

0 Geographic Area Name
1              Alabama
2               Alaska
3              Arizona
4             Arkansas
5           California

In [21]:
marriedCoupleTable.dtypes

0
Geographic Area Name                                            object
Estimate Married-couple families Total                         float64
Estimate Married-couple families Total Less than $10,000       float64
Estimate Married-couple families Total $10,000 to $14,999      float64
Estimate Married-couple families Total $15,000 to $24,999      float64
Estimate Married-couple families Total $25,000 to $34,999      float64
Estimate Married-couple families Total $35,000 to $49,999      float64
Estimate Married-couple families Total $50,000 to $74,999      float64
Estimate Married-couple families Total $75,000 to $99,999      float64
Estimate Married-couple families Total $100,000 to $149,999    float64
Estimate Married-couple families Total $150,000 to $199,999    float64
Estimate Married-couple families Total $200,000 or more        float64
Estimate Married-couple families Median income (dollars)       float64
Estimate Married-couple families Mean income (dollars)         float64
dtype: object